In [1]:
import pandas as pd
import numpy as np
from tabula import read_pdf
import PyPDF2
import matplotlib.pyplot as plt
import pikepdf
from sqlalchemy import create_engine
from dateutil import parser
import mysql.connector

In [2]:
# de_encrypting pdf and saving a deencrypted pdf to read

input_path = r"C:\Users\Administrator\Downloads\Documents\MPESA_Statement_2023-01-01_to_2023-04-11_2547xxxxxx479.pdf"
output_path = r"C:\Users\Administrator\Desktop\py projects\M-Tracker\statements\dencrypted 1 month statements.pdf"
password = "608898"

with pikepdf.open(input_path, password=password) as pdf:
    pdf.save(output_path)

path = output_path

In [3]:
# Get the number of pages in the pdf file
with open(path, 'rb') as file:
    pdf_reader = PyPDF2.PdfReader(file)
    num_pages = len(pdf_reader.pages)

In [4]:
# Extract data from the mpesa statements

def getdata():
    for page_number in range(1, num_pages+1):
        
        if page_number == 1:
            df = read_pdf(path, pages=page_number)
            data=df[2]
            
            return_df = data
        else:
            df = read_pdf(path, pages=page_number)
            data=df[0]
        
        if page_number != 1:
            return_df = pd.concat([return_df, data])
            
    
    return return_df.reset_index(drop=True)

working_data = getdata()

Got stderr: Apr 21, 2023 10:16:07 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:26 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:28 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:31 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:34 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:37 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:40 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:43 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:46 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:49 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:52 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:55 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:16:58 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:01 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:07 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:10 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:13 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:16 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:19 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:25 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:28 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:31 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:34 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:37 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 21, 2023 10:17:40 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

In [5]:
# Function to remove comma from cash to make it float/int datatype

def remove_comma(x):
    x = str(x)
    x = x.replace(',', '')
    return x

In [6]:
real_data = working_data.copy()

real_data["Paid In"] = real_data["Paid In"].apply(lambda x: remove_comma(x))
real_data["Withdrawn"] = real_data["Withdrawn"].apply(lambda x: remove_comma(x))
real_data["Balance"] = real_data["Balance"].apply(lambda x: remove_comma(x))

# Convert to float datatype

real_data = real_data.astype({
    "Paid In" : float,
    "Withdrawn":float,
    'Balance':float 
})

In [7]:
# Create a function to get the transaction type and who's Transacting with
def get_transaction(x):
    x = str(x).strip()
    if x.startswith('Merchant Payment'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        
        return 'BUY GOODS',name
         
    elif x.startswith('Deposit of Funds'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        return 'AGENT DEPOSIT', name
    
    
    elif x.startswith('OD Loan Repayment'):
        return 'FULIZA REPAYMENT', 'FULIZA'
    
    elif x.startswith('OverDraft of Credit Party'):
        return 'FULIZA TAKEN', 'FULIZA'
    
    elif x.startswith('M-Shwari Deposit'):
        return 'MSHWARI DEPOSIT FROM MPESA', 'MSHWARI'
    
    elif x.startswith('KCB M-PESA Deposit'):
        return 'KCB MPESA DEPOSIT FROM MPESA', 'MSHWARI'
    
    elif x.startswith('KCB M-PESA Withdraw'):
        return 'KCB MPESA WITHDRAW TO MPESA', 'KCB'
    
    elif x.startswith('Customer Transfer'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        
        return 'SEND MONEY', name
    
    elif x.startswith('M-Shwari Withdraw'):
        return 'M-SHWARI WITHDRAWAL TO MPESA', 'MSHWARI'
    
    elif x.startswith('Pay Bill'):
        if x.strip() == 'Pay Bill Charge':
            return 'PAY BILL CHARGES', 'TRANSACTION COST'
        else:
            index = x.find(' - ')+3
            end = x.lower().find('acc')
            name =  x[index:end].strip().upper()
            return 'PAY BILL', name
    
    elif x.startswith('Funds received'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        return 'RECEIVE FUNDS FROM PERSON', name
    
    elif x.startswith('Customer Payment to Small Business') or x.startswith('Customer Send Money'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        return 'POCHI LA BIASHARA', name
    
    elif x.startswith('Airtime Purchase'):
        return 'AIRTIME PURCHASE', 'AIRTIME'
    
    elif x.startswith('Business Payment from'):
        index = x.find(' - ')+3
        end = x.lower().find('via')

        to_search = x[index:]
        last_ = 1

        name =  x[index:end].strip().upper()
        
        return 'FUNDS RECEIVED FROM BUSINESS', name
    
    elif x.startswith('Customer Transfer of Funds Charge'):
        return 'TRANSACTION COST', 'TRANSACTION COST'
    
    elif x.startswith('Buy Bundles Online'):
        return 'BUNDLES PURCHASE', 'BUNDES PURCHASE'
    
    elif x.startswith('Customer Withdrawal'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        return 'CASH WITHDRAWAL', name
    
    elif x.startswith('Withdrawal Charge'):
        return 'CASH WITHDRAWAL CHARGES', "TRANSACTION COST"
    
    elif x.startswith('Savings Contribution'):
        return 'TO HUSTLER FUND SAVINGS', 'HUSTLER FUND'
    
    elif x.startswith('Term Loan Disbursement for H- Fund') or x.startswith('Term Loan Disbursement for H-Fund'):
        return 'HUSTLER FUND Disbursement'.upper(), 'HUSTLER FUND'
    
    elif x.startswith('Term Loan Repayment for H- Fund') or x.startswith('Term Loan Repayment for H-Fund'):
        return 'HUSTLER FUND REPAYMENT', 'HUSTLER FUND'
    
    else:
        return 'UNIDENTIFIED', 'UNIDENTIFIED'

In [8]:
real_data["Details"] = real_data["Details"].apply(lambda x: x.replace('\r', ' '))

In [9]:
# real_data['transaction_type'] = real_data['Details'].apply(lambda x: get_transaction(x))
details = list(real_data['Details'].apply(lambda x: get_transaction(x)).values)
transaction_type = [i[0] for i in details]
transaction_party = [i[1] for i in details]

In [10]:
# A function to extract different aspects of date from the statements 

def extract_date(date):
    date = parser.parse(date)
    return (date.year, date.month, date.day, date.weekday(), date.hour, date.minute, date.second)

In [11]:
dates = real_data['Completion Time'].apply(lambda x: extract_date(x)).values

year = [i[0] for i in dates]
month = [i[1] for i in dates]
date = [i[2] for i in dates]
weekday = [i[3] for i in dates]
hour = [i[4] for i in dates]
minute = [i[5] for i in dates]
second = [i[6] for i in dates]

trasaction_day = []

reverse_date = date.copy()
reverse_date.reverse()
datex = reverse_date[0]

d = 1

for i in reverse_date:
    if i == datex:
        trasaction_day.append(d)
    else:
        datex = i
        d+= 1
        trasaction_day.append(d)

trasaction_day.reverse()

In [12]:
receipt = list(real_data["Receipt No."].values)

In [13]:
paid_in = real_data['Paid In'].fillna('NAN_VALUE').values

In [14]:
def withdrawal_amount(x):
    try:
        if x < 0:
            return -(x)
        else:
            return x
    except:
        return x

In [15]:
withdrawn = list(real_data['Withdrawn'].apply(lambda x: withdrawal_amount(x)).values)
withdrawn

[10.0,
 20.0,
 20.0,
 20.0,
 100.0,
 10.0,
 15.0,
 15.0,
 20.0,
 10.0,
 20.0,
 28.0,
 851.0,
 70.0,
 nan,
 nan,
 nan,
 4.35,
 50.0,
 30.0,
 6.0,
 500.0,
 20.0,
 10.0,
 30.0,
 20.0,
 100.0,
 25.0,
 5.0,
 5.0,
 130.0,
 10.0,
 5.0,
 110.0,
 30.0,
 60.0,
 nan,
 19.0,
 nan,
 2000.0,
 nan,
 nan,
 10.0,
 6.0,
 130.0,
 20.0,
 20.0,
 50.0,
 nan,
 10.0,
 50.0,
 10.0,
 10.0,
 20.0,
 100.0,
 20.0,
 10.0,
 30.0,
 nan,
 75.0,
 40.0,
 35.0,
 28.0,
 1350.0,
 112.0,
 10000.0,
 nan,
 10.0,
 20.0,
 40.0,
 20.0,
 10.0,
 20.0,
 40.0,
 25.0,
 330.0,
 45.0,
 20.0,
 60.0,
 60.0,
 20.0,
 15.0,
 25.0,
 120.0,
 nan,
 30.0,
 nan,
 40.0,
 30.0,
 30.0,
 nan,
 10.0,
 55.0,
 nan,
 6.0,
 130.0,
 10.0,
 179.0,
 nan,
 10.0,
 100.0,
 20.0,
 10.0,
 100.0,
 40.0,
 20.0,
 40.0,
 9.0,
 nan,
 nan,
 20.0,
 60.0,
 5.0,
 30.0,
 5.0,
 20.0,
 50.0,
 25.0,
 99.0,
 100.0,
 20.0,
 50.0,
 30.0,
 30.0,
 10.0,
 23.0,
 300.0,
 nan,
 60.0,
 11000.0,
 50.0,
 1050.0,
 50.0,
 nan,
 5.0,
 6.0,
 150.0,
 nan,
 23.0,
 800.0,
 nan,
 23.0,
 975.0,
 nan,
 20.0,
 80.0,
 nan,
 30.0,
 60.0,
 nan,
 50.0,
 nan,
 40.0,
 20.0,
 30.0,
 nan,
 5.0,
 55.0,
 5.0,
 95.0,
 nan,
 nan,
 15.0,
 nan,
 60.0,
 50.0,
 100.0,
 10.0,
 10.0,
 75.0,
 25.0,
 10.0,
 20.0,
 70.0,
 10.0,
 200.0,
 nan,
 100.0,
 6.0,
 500.0,
 nan,
 10.0,
 10.0,
 40.0,
 90.0,
 20.0,
 10.0,
 5.0,
 70.0,
 15.0,
 10.0,
 23.0,
 400.0,
 nan,
 10.0,
 75.0,
 110.0,
 20.0,
 10.0,
 20.0,
 5.0,
 25.0,
 100.0,
 20.0,
 20.0,
 20.0,
 25.0,
 20.0,
 100.0,
 6.0,
 500.0,
 nan,
 nan,
 28.0,
 1000.0,
 10.0,
 nan,
 nan,
 75.0,
 nan,
 10.0,
 70.0,
 30.0,
 nan,
 10.0,
 10.0,
 10.0,
 45.0,
 1050.0,
 nan,
 23.0,
 970.0,
 nan,
 10.0,
 30.0,
 30.0,
 nan,
 6.0,
 20.0,
 20.0,
 nan,
 30.0,
 5.0,
 90.0,
 nan,
 10.0,
 40.0,
 nan,
 10.0,
 179.0,
 10.0,
 100.0,
 nan,
 40.0,
 105.0,
 nan,
 nan,
 10.0,
 40.0,
 180.0,
 nan,
 10.0,
 70.0,
 10.0,
 30.0,
 nan,
 10.0,
 10.0,
 10.0,
 nan,
 80.0,
 150.0,
 nan,
 50.0,
 50.0,
 60.0,
 nan,
 120.0,
 nan,
 70.0,
 20.0,
 20.0,
 10.0,
 10.0,
 75.0,
 25.0,
 20.0,
 80.0,
 10.0,
 50.0,
 15.0,
 50.0,
 100.0,
 4000.0,
 1201.31,
 70.0,
 70.0,
 92.99,
 nan,
 nan,
 10.0,
 nan,
 70.0,
 nan,
 30.0,
 82.06,
 nan,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 10.0,
 23.0,
 nan,
 900.0,
 nan,
 81.04,
 nan,
 70.0,
 nan,
 90.0,
 70.23,
 nan,
 nan,
 30.0,
 nan,
 70.0,
 10.0,
 60.0,
 70.0,
 60.0,
 10.0,
 nan,
 45.0,
 60.0,
 nan,
 70.0,
 nan,
 60.0,
 60.0,
 nan,
 15.0,
 nan,
 27.0,
 1000.0,
 20.0,
 6.0,
 250.0,
 60.0,
 nan,
 10.0,
 75.0,
 70.0,
 30.0,
 50.0,
 nan,
 20.0,
 50.0,
 200.0,
 60.0,
 80.0,
 1203.15,
 nan,
 50.0,
 50.0,
 60.0,
 10.0,
 nan,
 70.0,
 nan,
 148.38,
 150.0,
 nan,
 nan,
 100.0,
 100.0,
 nan,
 nan,
 20.0,
 nan,
 80.0,
 nan,
 75.0,
 nan,
 40.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 60.0,
 15.0,
 10.0,
 100.0,
 60.0,
 10.0,
 70.0,
 3.0,
 50.0,
 81.43,
 nan,
 nan,
 5.0,
 nan,
 10.0,
 nan,
 20.0,
 50.0,
 nan,
 nan,
 10.0,
 nan,
 30.0,
 nan,
 90.0,
 40.12,
 nan,
 nan,
 30.0,
 nan,
 9.0,
 nan,
 100.0,
 nan,
 25.0,
 nan,
 60.0,
 nan,
 15.0,
 20.0,
 10.0,
 150.0,
 70.0,
 10.0,
 20.0,
 20.0,
 10.0,
 60.0,
 nan,
 65.0,
 nan,
 23.0,
 23.0,
 900.0,
 nan,
 7.73,
 nan,
 23.0,
 nan,
 650.0,
 nan,
 9.65,
 nan,
 27.0,
 3.0,
 20.0,
 5.0,
 450.0,
 50.0,
 5.0,
 10.0,
 50.0,
 20.0,
 nan,
 10.0,
 90.0,
 70.0,
 5.0,
 10.0,
 5.0,
 8.0,
 171.55,
 nan,
 nan,
 50.0,
 nan,
 10.0,
 nan,
 50.0,
 nan,
 9.0,
 nan,
 50.0,
 100.0,
 12.0,
 1000.0,
 60.0,
 nan,
 nan,
 30.0,
 20.0,
 40.0,
 10.0,
 15.0,
 15.0,
 60.0,
 10.0,
 10.0,
 60.0,
 90.0,
 150.0,
 50.0,
 nan,
 10.0,
 10.0,
 20.0,
 120.0,
 80.0,
 10.0,
 10.0,
 20.0,
 176.85,
 nan,
 nan,
 60.0,
 6.0,
 nan,
 115.0,
 70.0,
 10.0,
 60.09,
 nan,
 nan,
 60.0,
 6.0,
 100.0,
 55.0,
 4500.0,
 50.0,
 300.49,
 nan,
 nan,
 40.0,
 nan,
 90.0,
 nan,
 300.0,
 nan,
 25.0,
 nan,
 50.0,
 nan,
 165.0,
 nan,
 30.0,
 50.0,
 nan,
 nan,
 70.0,
 nan,
 10.0,
 9.0,
 nan,
 700.0,
 455.04,
 nan,
 nan,
 30.0,
 6.0,
 nan,
 250.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 120.0,
 nan,
 500.0,
 nan,
 90.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 6.0,
 nan,
 60.0,
 nan,
 17.0,
 nan,
 98.0,
 nan,
 99.0,
 nan,
 100.0,
 919.0,
 600.13,
 nan,
 280.45,
 nan,
 nan,
 20.0,
 nan,
 75.0,
 nan,
 140.0,
 350.0,
 10.0,
 10.0,
 90.0,
 20.0,
 5.0,
 2050.0,
 nan,
 6.0,
 130.0,
 nan,
 nan,
 nan,
 30.0,
 nan,
 nan,
 30.0,
 nan,
 290.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 8.0,
 nan,
 60.0,
 nan,
 30.0,
 nan,
 10.0,
 23.0,
 nan,
 700.0,
 nan,
 93.8,
 nan,
 50.0,
 191.0,
 nan,
 27900.0,
 nan,
 650.0,
 451.87,
 nan,
 nan,
 325.0,
 12.0,
 nan,
 1000.0,
 110.39,
 nan,
 nan,
 90.0,
 nan,
 14.0,
 nan,
 10.0,
 200.0,
 1650.0,
 145.29,
 nan,
 nan,
 20.0,
 nan,
 10.0,
 300.0,
 nan,
 nan,
 130.0,
 nan,
 100.0,
 nan,
 60.0,
 nan,
 9.0,
 nan,
 50.0,
 nan,
 45.0,
 56.0,
 nan,
 3900.0,
 nan,
 209.89,
 nan,
 200.0,
 nan,
 20.0,
 10.0,
 77.81,
 nan,
 85.0,
 nan,
 5000.0,
 82.03,
 nan,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 20.0,
 nan,
 40.0,
 1.0,
 500.0,
 490.21,
 nan,
 12.0,
 nan,
 1000.0,
 nan,
 473.35,
 nan,
 40.0,
 nan,
 30.0,
 nan,
 45.0,
 nan,
 52.0,
 nan,
 30.0,
 nan,
 85.0,
 nan,
 5.0,
 nan,
 300.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 80.0,
 100.0,
 nan,
 nan,
 90.0,
 nan,
 5.0,
 nan,
 5.0,
 23.0,
 nan,
 300.0,
 325.0,
 nan,
 23.0,
 nan,
 900.0,
 383.48,
 nan,
 nan,
 10.0,
 nan,
 90.0,
 nan,
 100.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 60.0,
 nan,
 70.0,
 nan,
 5.0,
 nan,
 5.0,
 500.0,
 20.0,
 15.0,
 10.0,
 120.0,
 23.0,
 900.0,
 5.0,
 nan,
 396.68,
 nan,
 nan,
 70.0,
 nan,
 15.0,
 nan,
 20.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 42.0,
 nan,
 60.0,
 10.0,
 nan,
 100.0,
 nan,
 nan,
 35.0,
 nan,
 120.0,
 nan,
 70.0,
 nan,
 100.0,
 nan,
 449.66,
 nan,
 10.0,
 60.0,
 10.0,
 500.0,
 30.0,
 nan,
 nan,
 10.0,
 nan,
 100.0,
 nan,
 5.0,
 nan,
 60.0,
 nan,
 130.0,
 350.0,
 nan,
 nan,
 40.0,
 nan,
 10.0,
 nan,
 100.0,
 100.0,
 nan,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 70.0,
 nan,
 10.0,
 70.0,
 nan,
 nan,
 10.0,
 nan,
 100.0,
 nan,
 70.0,
 nan,
 50.0,
 nan,
 60.0,
 nan,
 100.0,
 nan,
 7.0,
 12.0,
 nan,
 1000.0,
 nan,
 nan,
 4.0,
 500.0,
 nan,
 nan,
 501.61,
 nan,
 5.0,
 14.0,
 nan,
 1170.0,
 nan,
 108.0,
 10.0,
 100.0,
 260.0,
 3400.0,
 nan,
 1.0,
 95.0,
 20.0,
 230.0,
 50.0,
 70.0,
 50.0,
 20.0,
 361.64,
 nan,
 nan,
 20.0,
 nan,
 10.0,
 nan,
 10.0,
 50.0,
 nan,
 nan,
 50.0,
 nan,
 50.0,
 nan,
 20.0,
 4.0,
 nan,
 130.0,
 nan,
 10.0,
 330.0,
 nan,
 nan,
 140.0,
 200.0,
 nan,
 nan,
 90.0,
 nan,
 100.0,
 nan,
 49.0,
 nan,
 60.0,
 nan,
 50.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 11.0,
 nan,
 80.0,
 100.0,
 nan,
 nan,
 8.0,
 nan,
 50.0,
 100.0,
 nan,
 nan,
 60.0,
 nan,
 15.0,
 nan,
 50.0,
 nan,
 61.0,
 nan,
 30.0,
 nan,
 60.0,
 nan,
 5.0,
 nan,
 88.0,
 601.57,
 nan,
 nan,
 nan,
 386.77,
 nan,
 100.0,
 nan,
 70.0,
 nan,
 60.0,
 130.0,
 nan,
 nan,
 40.0,
 20.0,
 nan,
 nan,
 60.0,
 100.0,
 nan,
 nan,
 20.0,
 nan,
 19.0,
 55.0,
 nan,
 4795.0,
 460.47,
 nan,
 nan,
 60.0,
 100.0,
 nan,
 nan,
 50.0,
 ...]

In [16]:
transaction_data = []

for i in range(len(paid_in)):
    try:
        x = float(paid_in[i])
        transaction_data.append((x, 'PAID IN'))
    except:
        x = float(withdrawn[i])
        transaction_data.append((x, 'WITHDRAWN'))

In [17]:
transaction_amount = [i[0] for i in transaction_data]
paid_in_or_withdrawn = [i[1] for i in transaction_data]

In [18]:
balance = list(real_data.Balance.values)

In [19]:
df = pd.DataFrame({
    'receipt': receipt,
    'trasaction_day': trasaction_day,
    'year':year,
    'month':month,
    'date':date,
    'weekday':weekday, 
    'hour':hour, 
    'minute':minute, 
    'second':second,
    'transaction_type':transaction_type,
    'transaction_party': transaction_party,
    'transaction_amount':transaction_amount,
    'paid_in_or_withdrawn':paid_in_or_withdrawn,
    'balance':balance
    })

df.set_index('receipt', inplace = True)
df

,trasaction_day,year,month,date,weekday,hour,minute,second,transaction_type,transaction_party,transaction_amount,paid_in_or_withdrawn,balance
receipt,,,,,,,,,,,,,
RDB7VLX827,97,2023,4,11,1,7,34,58,BUY GOODS,EUNICE RURII,10.0,WITHDRAWN,190.65
RDB0VIRHTI,97,2023,4,11,1,6,17,55,PAY BILL,KPLC PREPAID,20.0,WITHDRAWN,200.65
RDA8V2XOWG,96,2023,4,10,0,20,28,58,SEND MONEY,PETER OSODO,20.0,WITHDRAWN,220.65
RDA4V2RODM,96,2023,4,10,0,20,27,28,BUY GOODS,SAMUEL NDUNGU,20.0,WITHDRAWN,240.65
RDA1V266WT,96,2023,4,10,0,20,22,35,BUY GOODS,JAWS BUTCHERY,100.0,WITHDRAWN,260.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL CHARGES,TRANSACTION COST,4.0,WITHDRAWN,0.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,FULIZA TAKEN,FULIZA,454.0,PAID IN,4.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL,EQUITY PAYBILL,450.0,WITHDRAWN,-450.00
RA10GI2APY,1,2023,1,1,6,10,1,48,FULIZA REPAYMENT,FULIZA,50.0,WITHDRAWN,0.00
RA12GI1SRW,1,2023,1,1,6,10,1,48,KCB MPESA WITHDRAW TO MPESA,KCB,50.0,PAID IN,50.00

In [20]:
engine = create_engine('mysql+pymysql://root:root@localhost/mtracker')
df.reset_index(inplace = True)
df.to_sql(name='user_derrick', con=engine, if_exists='replace', index=False)

1136

In [21]:
################### END #########

In [23]:
df

,receipt,trasaction_day,year,month,date,weekday,hour,minute,second,transaction_type,transaction_party,transaction_amount,paid_in_or_withdrawn,balance
0,RDB7VLX827,97,2023,4,11,1,7,34,58,BUY GOODS,EUNICE RURII,10.0,WITHDRAWN,190.65
1,RDB0VIRHTI,97,2023,4,11,1,6,17,55,PAY BILL,KPLC PREPAID,20.0,WITHDRAWN,200.65
2,RDA8V2XOWG,96,2023,4,10,0,20,28,58,SEND MONEY,PETER OSODO,20.0,WITHDRAWN,220.65
3,RDA4V2RODM,96,2023,4,10,0,20,27,28,BUY GOODS,SAMUEL NDUNGU,20.0,WITHDRAWN,240.65
4,RDA1V266WT,96,2023,4,10,0,20,22,35,BUY GOODS,JAWS BUTCHERY,100.0,WITHDRAWN,260.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL CHARGES,TRANSACTION COST,4.0,WITHDRAWN,0.00
1132,RA10GI49RQ,1,2023,1,1,6,10,2,33,FULIZA TAKEN,FULIZA,454.0,PAID IN,4.00
1133,RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL,EQUITY PAYBILL,450.0,WITHDRAWN,-450.00
1134,RA10GI2APY,1,2023,1,1,6,10,1,48,FULIZA REPAYMENT,FULIZA,50.0,WITHDRAWN,0.00
1135,RA12GI1SRW,1,2023,1,1,6,10,1,48,KCB MPESA WITHDRAW TO MPESA,KCB,50.0,PAID IN,50.00

In [26]:
df.set_index('receipt', inplace = True)

In [27]:
df

,trasaction_day,year,month,date,weekday,hour,minute,second,transaction_type,transaction_party,transaction_amount,paid_in_or_withdrawn,balance
receipt,,,,,,,,,,,,,
RDB7VLX827,97,2023,4,11,1,7,34,58,BUY GOODS,EUNICE RURII,10.0,WITHDRAWN,190.65
RDB0VIRHTI,97,2023,4,11,1,6,17,55,PAY BILL,KPLC PREPAID,20.0,WITHDRAWN,200.65
RDA8V2XOWG,96,2023,4,10,0,20,28,58,SEND MONEY,PETER OSODO,20.0,WITHDRAWN,220.65
RDA4V2RODM,96,2023,4,10,0,20,27,28,BUY GOODS,SAMUEL NDUNGU,20.0,WITHDRAWN,240.65
RDA1V266WT,96,2023,4,10,0,20,22,35,BUY GOODS,JAWS BUTCHERY,100.0,WITHDRAWN,260.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL CHARGES,TRANSACTION COST,4.0,WITHDRAWN,0.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,FULIZA TAKEN,FULIZA,454.0,PAID IN,4.00
RA10GI49RQ,1,2023,1,1,6,10,2,33,PAY BILL,EQUITY PAYBILL,450.0,WITHDRAWN,-450.00
RA10GI2APY,1,2023,1,1,6,10,1,48,FULIZA REPAYMENT,FULIZA,50.0,WITHDRAWN,0.00
RA12GI1SRW,1,2023,1,1,6,10,1,48,KCB MPESA WITHDRAW TO MPESA,KCB,50.0,PAID IN,50.00