In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
import mysql.connector
from matplotlib import pyplot as plt
import pickle

In [2]:
db = mysql.connector.connect(
    user = 'root',
    host = 'localhost',
    password ='root')

querry = 'SELECT * FROM mtracker.user_derrick;'

In [3]:
df = pd.read_sql(querry, db)
df.set_index('receipt', inplace = True)
df

C:\Users\Administrator\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'SELECT * FROM mtracker.user_derrick;': 1146 (42S02): Table 'mtracker.user_derrick' doesn't exist

In [7]:
nearest_tens_balance = [round(x, -1) for x in list(df.balance.values)]
nearest_hundreds_balance = [round(x, -2) for x in list(df.balance.values)]
np.array(nearest_tens_balance)

array([ 190.,  200.,  220., ..., -450.,    0.,   50.])

In [ ]:
test = df.copy()

test = test.groupby('trasaction_day').mean().reset_index()

data = ['month', 'date']
predict = 'transaction_amount'
nearest_tens_balance = [round(x, -1) for x in list(test.balance.values)]
nearest_hundreds_balance = [round(x, -2) for x in list(test.transaction_amount.values)]

x = test[data]
x.reset_index(inplace = True, drop = True)
x = np.array(x)

y = test[predict]
y = np.array(y)


linear = linear_model.LinearRegression()
best = 0
acc = 0
trained = 0
while acc < 0.5:
    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size = 0.1)

    linear.fit(x_train, y_train)
    acc = linear.score(x_test, y_test)
    
    if acc > best:
        model = linear
        print(f'Test number {trained}: {acc}')
        best = acc
        with open(f'best [month, date, weekday] model (acc {acc}).pickle', 'wb') as f:
            pickle.dump(linear, f)
            
    
    trained += 1 
        
        



# prediction = linear.predict(x_test)



# for x in range(len(prediction)):
#     print(f'{prediction[x]} : {x_test[x]} : {y_test[x]}')

Test number 9: 0.0031107404159336216
Test number 11: 0.025760266015594224
Test number 23: 0.03591107619455147
Test number 43: 0.06272288546580362
Test number 67: 0.06295965304654405
Test number 72: 0.07347244312901013
Test number 138: 0.07519111776482967
Test number 498: 0.11313907031638792
Test number 639: 0.1467167338534544
Test number 1286: 0.1698936004868694
Test number 1739: 0.18193417902725906
Test number 6165: 0.29144639998614297
Test number 53733: 0.31499632939972366
Test number 134281: 0.3360348116802685
Test number 182042: 0.37292900152717

In [8]:
# pickle_in = open('best [month, date, weekday] model.picle (acc 0.3900070344606633)', 'rb')
# model = pickle.load(pickle_in)

prediction = model.predict(x_test)



for x in range(len(prediction)):
    print(f'{round(prediction[x], -1)} : {x_test[x]} : {y_test[x]}')

240.0 : [ 3. 16.] : 60.0
190.0 : [ 1. 26.] : 43.5
220.0 : [ 2. 25.] : 71.19375
210.0 : [3. 5.] : 116.66666666666667
250.0 : [4. 6.] : 69.54545454545455
230.0 : [ 3. 11.] : 35.906
220.0 : [3. 8.] : 189.5625
210.0 : [3. 4.] : 40.29533333333333
210.0 : [ 2. 19.] : 1126.9977777777776
220.0 : [ 2. 24.] : 70.72727272727273

In [8]:
with open('best [trasaction_day, month, date] model.picle', 'wb') as f:
    pickle.dump(linear, f)

ERROR! Session/line number was not unique in database. History logging moved to new session 160

KeyboardInterrupt

In [ ]:
acc

In [ ]:
!pip install scikit-learn

In [ ]:
!pip uninstall sklearn