In [31]:
import pandas as pd
import numpy as np
from tabula import read_pdf
import PyPDF2
import matplotlib.pyplot as plt
import pikepdf
from sqlalchemy import create_engine

In [32]:
# de_encrypting pdf and saving a deencrypted pdf to read

input_path = r"C:\Users\Administrator\Downloads\Documents\MPESA_Statement_2023-01-01_to_2023-04-11_2547xxxxxx479.pdf"
output_path = r"C:\Users\Administrator\Desktop\py projects\M-Tracker\statements\dencrypted 1 month statements.pdf"
password = "608898"

with pikepdf.open(input_path, password=password) as pdf:
    pdf.save(output_path)

path = output_path

In [33]:
# Get the number of pages in the pdf file
with open(path, 'rb') as file:
    pdf_reader = PyPDF2.PdfReader(file)
    num_pages = len(pdf_reader.pages)

In [34]:
# df1 = read_pdf(path, pages=1)
# df1[2]

In [35]:
def getdata():
    for page_number in range(1, num_pages+1):
        
        if page_number == 1:
            df = read_pdf(path, pages=page_number)
            data=df[2]
            
            return_df = data
        else:
            df = read_pdf(path, pages=page_number)
            data=df[0]
        
        if page_number != 1:
            return_df = pd.concat([return_df, data])
            
    
    return return_df.reset_index(drop=True)

In [36]:
working_data = getdata()

Got stderr: Apr 15, 2023 9:29:38 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:40 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:43 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:46 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:48 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:51 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:53 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:56 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:29:59 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:01 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:06 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:09 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:12 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:17 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:20 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:25 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:28 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:30 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:33 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:36 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:38 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:41 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:44 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:46 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

Got stderr: Apr 15, 2023 9:30:49 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'DejaVuSans'

In [37]:
working_data

,Receipt No.,Completion Time,Details,Transaction Status,Paid In,Withdrawn,Balance,Unnamed: 0
0,RDB7VLX827,2023-04-11 07:34:58,Merchant Payment to 7603071 -\rEUNICE RURII,Completed,NaN,-10.0,190.65,NaN
1,RDB0VIRHTI,2023-04-11 06:17:55,Pay Bill Online to 888880 - KPLC\rPREPAID Acc....,Completed,NaN,-20.0,200.65,NaN
2,RDA8V2XOWG,2023-04-10 20:28:58,Customer Transfer to -\r07******179 Peter Osodo,Completed,NaN,-20.0,220.65,NaN
3,RDA4V2RODM,2023-04-10 20:27:28,Merchant Payment to 7569854 -\rSAMUEL NDUNGU,Completed,NaN,-20.0,240.65,NaN
4,RDA1V266WT,2023-04-10 20:22:35,Merchant Payment to 7441768 -\rJAWS BUTCHERY,Completed,NaN,-100.0,260.65,NaN
...,...,...,...,...,...,...,...,...
1131,RA10GI49RQ,2023-01-01 10:02:33,Pay Bill Charge,Completed,NaN,-4.0,0.0,NaN
1132,RA10GI49RQ,2023-01-01 10:02:33,OverDraft of Credit Party,Completed,454.0,NaN,4.0,NaN
1133,RA10GI49RQ,2023-01-01 10:02:33,Pay Bill Online Fuliza M-Pesa to\r247247 - Equ...,Completed,NaN,-450.0,-450.0,NaN
1134,RA10GI2APY,2023-01-01 10:01:48,OD Loan Repayment to 232323 -\rM-PESA Overdraw,Completed,NaN,-50.0,0.0,NaN
1135,RA12GI1SRW,2023-01-01 10:01:48,KCB M-PESA Withdraw,Completed,50.0,NaN,50.0,NaN

In [38]:
working_data.iloc[:20]

,Receipt No.,Completion Time,Details,Transaction Status,Paid In,Withdrawn,Balance,Unnamed: 0
0,RDB7VLX827,2023-04-11 07:34:58,Merchant Payment to 7603071 -\rEUNICE RURII,Completed,NaN,-10.0,190.65,NaN
1,RDB0VIRHTI,2023-04-11 06:17:55,Pay Bill Online to 888880 - KPLC\rPREPAID Acc....,Completed,NaN,-20.0,200.65,NaN
2,RDA8V2XOWG,2023-04-10 20:28:58,Customer Transfer to -\r07******179 Peter Osodo,Completed,NaN,-20.0,220.65,NaN
3,RDA4V2RODM,2023-04-10 20:27:28,Merchant Payment to 7569854 -\rSAMUEL NDUNGU,Completed,NaN,-20.0,240.65,NaN
4,RDA1V266WT,2023-04-10 20:22:35,Merchant Payment to 7441768 -\rJAWS BUTCHERY,Completed,NaN,-100.0,260.65,NaN
5,RDA3V11ZWX,2023-04-10 20:13:36,Customer Transfer to -\r2547******334 RISPA\rA...,Completed,NaN,-10.0,360.65,NaN
6,RDA4V0W7G8,2023-04-10 20:12:19,Customer Transfer to -\r2547******184 JACINTA\...,Completed,NaN,-15.0,370.65,NaN
7,RDA1V0LT5P,2023-04-10 20:10:06,Customer Payment to Small\rBusiness to - 2547*...,Completed,NaN,-15.0,385.65,NaN
8,RDA0V0824U,2023-04-10 20:07:17,Merchant Payment to 7139380 -\rJACKSON MWAURA ...,Completed,NaN,-20.0,400.65,NaN
9,RDA9UZI3MB,2023-04-10 20:01:50,Customer Payment to Small\rBusiness to - 2547*...,Completed,NaN,-10.0,420.65,NaN
10,RDA6UW2UUC,2023-04-10 19:37:35,Merchant Payment to 7421237 -\rMARY ELIZABETH ...,Completed,NaN,-20.0,430.65,NaN
11,RDA3USE1PP,2023-04-10 19:13:36,Withdrawal Charge,Completed,NaN,-28.0,450.65,NaN
12,RDA3USE1PP,2023-04-10 19:13:36,Customer Withdrawal At Agent\rTill 087443 - Do...,Completed,NaN,-851.0,478.65,NaN
13,RDA8U2U0DI,2023-04-10 15:22:14,Merchant Payment Online to\r7603071 - EUNICE R...,Completed,NaN,-70.0,"1,329.65",NaN
14,RDA9TQVC6F,2023-04-10 13:12:07,Funds received from -\r2547******095 MERCY MULWA,Completed,"1,000.00",NaN,"1,399.65",NaN
15,RDA3T1S1T5,2023-04-10 08:12:00,Funds received from -\r07******759 alfred kara...,Completed,200.00,NaN,399.65,NaN
16,RDA9SXNVQD,2023-04-10 06:43:34,Funds received from -\r2547******403 Peter Kiania,Completed,150.00,NaN,204.00,NaN
17,RDA5SXNX8P,2023-04-10 06:43:34,OD Loan Repayment to 232323 -\rM-PESA Overdraw,Completed,NaN,-4.35,199.65,NaN
18,RDA6SU0Z30,2023-04-10 00:00:25,Pay Bill Online to 888880 - KPLC\rPREPAID Acc....,Completed,NaN,-50.0,54.00,NaN
19,RDA8SU0CEO,2023-04-10 00:00:08,Airtime Purchase,Completed,NaN,-30.0,104.00,NaN

In [39]:
real_data = df1[0]
real_data

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1]
Index: []

In [40]:
working_data["Completion Time"]

0       2023-04-11 07:34:58
1       2023-04-11 06:17:55
2       2023-04-10 20:28:58
3       2023-04-10 20:27:28
4       2023-04-10 20:22:35
               ...
1131    2023-01-01 10:02:33
1132    2023-01-01 10:02:33
1133    2023-01-01 10:02:33
1134    2023-01-01 10:01:48
1135    2023-01-01 10:01:48
Name: Completion Time, Length: 1136, dtype: object

In [41]:
def return_datetime(x):
    return pd.Timestamp(x)

In [42]:
data = working_data["Completion Time"].apply(lambda x: return_datetime(x))
data

0      2023-04-11 07:34:58
1      2023-04-11 06:17:55
2      2023-04-10 20:28:58
3      2023-04-10 20:27:28
4      2023-04-10 20:22:35
               ...
1131   2023-01-01 10:02:33
1132   2023-01-01 10:02:33
1133   2023-01-01 10:02:33
1134   2023-01-01 10:01:48
1135   2023-01-01 10:01:48
Name: Completion Time, Length: 1136, dtype: datetime64[ns]

In [43]:
def return_details(x):
    return x.day_name(), x.date(), x.time()

In [44]:
df2 = pd.DataFrame({
    "Day": data.apply(lambda x: return_details(x)[0]),
    "Date": data.apply(lambda x: return_details(x)[1]),
    "Time": data.apply(lambda x: return_details(x)[2])
    
})

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     1136 non-null   object
 1   Date    1136 non-null   object
 2   Time    1136 non-null   object
dtypes: object(3)
memory usage: 26.8+ KB

In [46]:
df2 = df2.reset_index(drop = True)

In [47]:
transactions = working_data.loc[:,["Paid In","Withdrawn"]].reset_index(drop = True)

In [48]:
date_data = pd.merge(df2, transactions, left_index=True, right_index=True)
date_datax = date_data.replace(np.nan, 0)

In [49]:
def remove_comma(x):
    x = str(x)
    x = x.replace(',', '')
    return x

In [50]:
real_data['Paid In'].apply(lambda x: remove_comma(x))

KeyError: 'Paid In'

In [ ]:
real_data["Paid In"] = date_data["Paid In"].apply(lambda x: remove_comma(x))
real_data["Withdrawn"] = date_data["Withdrawn"].apply(lambda x: remove_comma(x))

In [ ]:
real_data.astype({
    "Paid In" : float,
    "Withdrawn":float
    
})

In [ ]:
# date_data.groupby("Day").sum()["Paid In"].sort_values().plot(kind="bar");

In [ ]:
date_data.groupby("Day").sum().apply(lambda x: x*-1).Withdrawn.sort_values(ascending=True).plot(kind="bar");

In [ ]:
!pip uninstall PyPDF2

In [ ]:
!pip uninstall tabula

In [ ]:
!pip install tabula-py

In [ ]:
date_data

In [ ]:
pd.options.display.max_rows = 200

In [ ]:
date_data.groupby("Date").cumsum(skipna = True)["Paid In"].plot()

In [ ]:
date_data.groupby("Date").dropna("Paid In")

In [ ]:
date_data.loc[:, ["Date", "Paid In","Withdrawn"]].set_index("Date")["Paid In"].dropna().cumsum().plot()

In [ ]:
date_data["Paid In"].cumsum().dropna().plot()

In [ ]:







2p5*555*5lt.style.use("ggplot")

In [ ]:
working_data

In [ ]:
engine = create_engine('mysql+pymysql://root:root@localhost/mtracker')
working_data.to_sql(name='data', con=engine, if_exists='replace', index=False)

In [ ]:
pip install pymysql

In [ ]:
from PyQt5.QtWidgets import QApplication, QComboBox, QWidget
from PyQt5.QtCore import Qt

class Example(QWidget):
    def __init__(self):
        super().__init__()

        self.initUI()

    def initUI(self):
        # Create a QComboBox widget
        self.cb = QComboBox(self)
        self.cb.addItems(['Option 1', 'Option 2', 'Option 3'])

        # Connect the currentIndexChanged signal to a function
        self.cb.currentIndexChanged.connect(self.onSelectionChanged)

        self.setGeometry(300, 300, 250, 150)
        self.setWindowTitle('QComboBox Example')
        self.show()

    def onSelectionChanged(self, index):
        # Do something when the selection changes
        selected_option = self.cb.currentText()
        print('Selected option:', selected_option)

if __name__ == '__main__':
    app = QApplication([])
    ex = Example()
    app.exec_()

In [ ]:
working_data.info()

In [ ]:
working_data.drop("Unnamed: 0", axis= 1,inplace = True)

In [ ]:
working_data

In [ ]:
working_data["Details"] = working_data["Details"].apply(lambda x: x.replace('\r', ' '))

In [ ]:
working_data

In [ ]:
working_data[working_data['Details'].apply(lambda x: get_transaction(x)).isna()]
# .apply(lambda x: get_transaction(x))

In [ ]:
working_data['Details'].apply(lambda x: get_transaction(x)).head(30)

In [ ]:
working_data

In [ ]:
def get_transaction(x):
    x = str(x).strip()
    if x.startswith('Merchant Payment'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        
        return 'BUY GOODS',name
         
    elif x.startswith('Deposit of Funds'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        return 'AGENT DEPOSIT', name
    
    
    elif x.startswith('OD Loan Repayment'):
        return 'FULIZA REPAYMENT', 'FULIZA'
    
    elif x.startswith('OverDraft of Credit Party'):
        return 'FULIZA TAKEN', 'FULIZA'
    
    elif x.startswith('M-Shwari Deposit'):
        return 'MSHWARI DEPOSIT FROM MPESA', 'MSHWARI'
    
    elif x.startswith('KCB M-PESA Deposit'):
        return 'KCB MPESA DEPOSIT FROM MPESA', 'MSHWARI'
    
    elif x.startswith('KCB M-PESA Withdraw'):
        return 'KCB MPESA WITHDRAW TO MPESA', 'KCB'
    
    elif x.startswith('Customer Transfer'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        
        return 'SEND MONEY', name
    
    elif x.startswith('M-Shwari Withdraw'):
        return 'M-SHWARI WITHDRAWAL TO MPESA', 'MSHWARI'
    
    elif x.startswith('Pay Bill'):
        if x.strip() == 'Pay Bill Charge':
            return 'PAY BILL CHARGES', 'TRANSACTION COST'
        else:
            index = x.find(' - ')+3
            end = x.lower().find('acc')
            name =  x[index:end].strip().upper()
            return 'PAY BILL', name
    
    elif x.startswith('Funds received'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        return 'RECEIVE FUNDS FROM PERSON', name
    
    elif x.startswith('Customer Payment to Small Business') or x.startswith('Customer Send Money'):
        index = x.find(' - ')+3
        to_search = x[index:]
        last_ = 1

        for i in range(len(to_search)):
            try:
                int(to_search[i])
                last_ = i

            except:
                v = 10
        name =  x[index+last_+2:].strip().upper()
        return 'POCHI LA BIASHARA', name
    
    elif x.startswith('Airtime Purchase'):
        return 'AIRTIME PURCHASE', 'AIRTIME'
    
    elif x.startswith('Business Payment from'):
        index = x.find(' - ')+3
        end = x.lower().find('via')

        to_search = x[index:]
        last_ = 1

        name =  x[index:end].strip().upper()
        
        return 'FUNDS RECEIVED FROM BUSINESS', name
    
    elif x.startswith('Customer Transfer of Funds Charge'):
        return 'TRANSACTION COST', 'TRANSACTION COST'
    
    elif x.startswith('Buy Bundles Online'):
        return 'BUNDLES PURCHASE', 'BUNDES PURCHASE'
    
    elif x.startswith('Customer Withdrawal'):
        index = x.find(' - ')+3
        name =  x[index:].strip().upper()
        return 'CASH WITHDRAWAL', name
    
    elif x.startswith('Withdrawal Charge'):
        return 'CASH WITHDRAWAL CHARGES', "TRANSACTION COST"
    
    elif x.startswith('Savings Contribution'):
        return 'TO HUSTLER FUND SAVINGS', 'HUSTLER FUND'
    
    elif x.startswith('Term Loan Disbursement for H- Fund') or x.startswith('Term Loan Disbursement for H-Fund'):
        return 'HUSTLER FUND Disbursement'.upper(), 'HUSTLER FUND'
    
    elif x.startswith('Term Loan Repayment for H- Fund') or x.startswith('Term Loan Repayment for H-Fund'):
        return 'HUSTLER FUND REPAYMENT', 'HUSTLER FUND'
    
    else:
        return 'UNIDENTIFIED', 'UNIDENTIFIED'

In [ ]:
working_data['transaction_type'] = working_data['Details'].apply(lambda x: get_transaction(x))

In [ ]:
engine = create_engine('mysql+pymysql://root:root@localhost/mtracker')
working_data.to_sql(name='transaction_type', con=engine, if_exists='replace', index=False)

In [ ]:
working_data[working_data['Details'].apply(lambda x: jhg(x))]

In [ ]:
def jhg(x):
    if x.lower().find('h- fund') != -1:
        return True
    else:
        return False

In [77]:
paid_in = list(working_data['Paid In'].values)

In [78]:
paid_in[0] == paid_in[1]

False

In [84]:
paid_in

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,000.00',
 '200.00',
 '150.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,200.00',
 nan,
 '4.30',
 nan,
 '1,000.00',
 '1,000.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '100.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '400.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '11,500.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,000.00',
 nan,
 '50.00',
 nan,
 nan,
 nan,
 '100.00',
 nan,
 nan,
 '50.00',
 nan,
 nan,
 nan,
 nan,
 '300.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '99.00',
 '100.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '323.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,076.00',
 nan,
 nan,
 nan,
 '12,000.00',
 nan,
 nan,
 '830.00',
 nan,
 nan,
 '1,000.00',
 nan,
 nan,
 '100.00',
 nan,
 nan,
 '130.00',
 nan,
 '50.00',
 nan,
 nan,
 nan,
 '70.00',
 nan,
 nan,
 nan,
 nan,
 '60.00',
 '100.00',
 nan,
 '30.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '350.00',
 nan,
 nan,
 nan,
 '618.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '423.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '679.00',
 '950.00',
 nan,
 nan,
 nan,
 '20.00',
 '1,000.00',
 nan,
 '100.00',
 nan,
 nan,
 nan,
 '100.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,101.00',
 nan,
 nan,
 '1,000.00',
 nan,
 nan,
 nan,
 '100.00',
 nan,
 nan,
 nan,
 '50.00',
 nan,
 nan,
 nan,
 '95.00',
 nan,
 nan,
 '50.00',
 nan,
 nan,
 nan,
 nan,
 '300.00',
 nan,
 nan,
 '100.00',
 '60.00',
 nan,
 nan,
 nan,
 '200.00',
 nan,
 nan,
 nan,
 nan,
 '150.00',
 nan,
 nan,
 nan,
 '50.00',
 nan,
 nan,
 '180.00',
 nan,
 nan,
 nan,
 '200.00',
 nan,
 '120.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '6,000.00',
 '10.00',
 nan,
 '70.00',
 nan,
 '12.06',
 nan,
 nan,
 '100.00',
 '10.00',
 nan,
 '20.00',
 nan,
 '10.00',
 nan,
 nan,
 '81.04',
 nan,
 '923.00',
 nan,
 '70.00',
 nan,
 '10.23',
 nan,
 nan,
 '150.00',
 '30.00',
 nan,
 '39.53',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '200.00',
 nan,
 nan,
 '100.00',
 nan,
 '100.00',
 nan,
 nan,
 '100.00',
 nan,
 '50.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,200.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '300.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '700.00',
 nan,
 nan,
 nan,
 nan,
 '400.00',
 nan,
 '1,000.00',
 nan,
 nan,
 '150.00',
 '100.00',
 nan,
 nan,
 '100.00',
 '20.00',
 nan,
 '80.00',
 nan,
 '75.00',
 nan,
 '40.00',
 nan,
 '10.00',
 nan,
 '10.00',
 nan,
 '59.43',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 400.0,
 5.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 nan,
 50.0,
 10.0,
 nan,
 30.0,
 nan,
 55.12,
 nan,
 nan,
 75.0,
 30.0,
 nan,
 9.0,
 nan,
 100.0,
 nan,
 25.0,
 nan,
 60.0,
 nan,
 14.73,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 350.0,
 nan,
 50.0,
 nan,
 nan,
 nan,
 69.0,
 nan,
 925.0,
 nan,
 7.65,
 nan,
 675.0,
 nan,
 9.55,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 500.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 500.0,
 50.0,
 nan,
 '10.00',
 nan,
 '50.00',
 nan,
 '9.00',
 nan,
 '22.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,200.00',
 '28.85',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '488.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '500.00',
 '60.00',
 nan,
 nan,
 '115.09',
 nan,
 nan,
 nan,
 nan,
 '146.00',
 '59.49',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '5,012.00',
 '40.00',
 nan,
 '90.00',
 nan,
 '300.00',
 nan,
 '25.00',
 nan,
 '50.00',
 nan,
 '165.00',
 nan,
 '30.00',
 nan,
 nan,
 '50.00',
 '70.00',
 nan,
 '10.00',
 nan,
 nan,
 '164.04',
 nan,
 nan,
 '1,000.00',
 '30.00',
 nan,
 nan,
 256.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 120.0,
 nan,
 500.0,
 nan,
 90.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 6.0,
 nan,
 60.0,
 nan,
 17.0,
 nan,
 98.0,
 nan,
 99.0,
 nan,
 99.58,
 nan,
 nan,
 nan,
 900.0,
 nan,
 900.0,
 20.0,
 nan,
 75.0,
 nan,
 140.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,000.00',
 nan,
 nan,
 '50.00',
 '50.00',
 '1,001.00',
 nan,
 '600.00',
 '30.00',
 nan,
 '290.00',
 nan,
 '10.00',
 nan,
 '10.00',
 nan,
 '8.00',
 nan,
 '60.00',
 nan,
 '30.00',
 nan,
 '10.00',
 nan,
 nan,
 '91.80',
 nan,
 '725.00',
 nan,
 '50.00',
 nan,
 nan,
 '42.87',
 nan,
 '1,300.00',
 nan,
 nan,
 '27,850.00',
 '325.00',
 nan,
 nan,
 '122.39',
 nan,
 nan,
 '1,000.00',
 '90.00',
 nan,
 '14.00',
 nan,
 '5.29',
 nan,
 nan,
 nan,
 nan,
 '2,000.00',
 '20.00',
 nan,
 '10.00',
 nan,
 nan,
 '300.00',
 '130.00',
 nan,
 '100.00',
 nan,
 '60.00',
 nan,
 '9.00',
 nan,
 '50.00',
 nan,
 '45.00',
 nan,
 nan,
 '215.89',
 nan,
 '3,950.00',
 nan,
 '200.00',
 nan,
 '7.81',
 nan,
 nan,
 nan,
 '100.00',
 nan,
 '77.03',
 nan,
 nan,
 '5,090.00',
 '10.00',
 nan,
 '20.00',
 nan,
 '20.00',
 nan,
 '31.21',
 nan,
 nan,
 nan,
 nan,
 '1,000.00',
 nan,
 '485.35',
 nan,
 '1,000.00',
 nan,
 '40.00',
 nan,
 '30.00',
 nan,
 '45.00',
 nan,
 '52.00',
 nan,
 '30.00',
 nan,
 '85.00',
 nan,
 '5.00',
 nan,
 '300.00',
 nan,
 '10.00',
 nan,
 '10.00',
 nan,
 '80.00',
 nan,
 nan,
 100.0,
 90.0,
 nan,
 5.0,
 nan,
 5.0,
 nan,
 nan,
 323.0,
 nan,
 nan,
 325.0,
 nan,
 376.48,
 nan,
 nan,
 930.0,
 10.0,
 nan,
 90.0,
 nan,
 100.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 20.0,
 nan,
 60.0,
 nan,
 70.0,
 nan,
 5.0,
 nan,
 4.68,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '1,000.00',
 nan,
 '990.00',
 '70.00',
 nan,
 '15.00',
 nan,
 '20.00',
 nan,
 '10.00',
 nan,
 '10.00',
 nan,
 '42.00',
 nan,
 '60.00',
 nan,
 nan,
 '10.00',
 nan,
 '100.00',
 '35.00',
 nan,
 '120.00',
 nan,
 '70.00',
 nan,
 '49.66',
 nan,
 '500.00',
 nan,
 '10.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '600.00',
 '10.00',
 nan,
 '100.00',
 nan,
 '5.00',
 nan,
 60.0,
 nan,
 130.0,
 nan,
 nan,
 350.0,
 40.0,
 nan,
 10.0,
 nan,
 100.0,
 nan,
 nan,
 100.0,
 10.0,
 nan,
 20.0,
 nan,
 70.0,
 nan,
 10.0,
 nan,
 nan,
 70.0,
 10.0,
 nan,
 100.0,
 nan,
 70.0,
 nan,
 50.0,
 nan,
 60.0,
 nan,
 100.0,
 nan,
 7.0,
 nan,
 nan,
 482.61,
 nan,
 50.0,
 475.0,
 nan,
 nan,
 '10.00',
 '1,000.00',
 nan,
 '5.00',
 nan,
 nan,
 '491.64',
 nan,
 '208.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 '260.00',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '5,000.00',
 '20.00',
 nan,
 '10.00',
 nan,
 '10.00',
 nan,
 nan,
 '50.00',
 '50.00',
 nan,
 '50.00',
 nan,
 '20.00',
 nan,
 nan,
 '134.00',
 nan,
 '10.00',
 nan,
 nan,
 330.0,
 140.0,
 nan,
 nan,
 200.0,
 90.0,
 nan,
 100.0,
 nan,
 49.0,
 nan,
 60.0,
 nan,
 50.0,
 nan,
 10.0,
 nan,
 10.0,
 nan,
 11.0,
 nan,
 80.0,
 nan,
 nan,
 100.0,
 8.0,
 nan,
 50.0,
 nan,
 nan,
 100.0,
 60.0,
 nan,
 15.0,
 nan,
 50.0,
 nan,
 61.0,
 nan,
 30.0,
 nan,
 '60.00',
 nan,
 '5.00',
 nan,
 '86.34',
 nan,
 nan,
 '2.00',
 '88.00',
 '900.00',
 nan,
 '100.00',
 nan,
 '70.00',
 nan,
 '60.00',
 nan,
 nan,
 '130.00',
 '40.00',
 nan,
 nan,
 '20.00',
 '60.00',
 nan,
 nan,
 '100.00',
 '20.00',
 nan,
 '19.00',
 nan,
 nan,
 '460.47',
 nan,
 nan,
 '4,850.00',
 '60.00',
 nan,
 nan,
 '100.00',
 '50.00',
 nan,
 ...]

In [86]:
values = paid_in

# extract the numerical values from the list and convert them to floats
nums = []
for val in values:
    try:
        nums.append(float(val.replace(',', '')))
    except (ValueError, AttributeError):
        nums.append(float('nan'))

print(nums)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1000.0, 200.0, 150.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1200.0, nan, 4.3, nan, 1000.0, 1000.0, nan, nan, nan, nan, nan, nan, 100.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 400.0, nan, nan, nan, nan, nan, nan, nan, 11500.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1000.0, nan, 50.0, nan, nan, nan, 100.0, nan, nan, 50.0, nan, nan, nan, nan, 300.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 99.0, 100.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 323.0, nan, nan, nan, nan, nan, 1076.0, nan, nan, nan, 12000.0, nan, nan, 830.0, nan, nan, 1000.0, nan, nan, 100.0, nan, nan, 130.0, nan, 50.0, nan, nan, nan, 70.0, nan, nan, nan, nan, 60.0, 100.0, nan, 30.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 350.0, nan, nan, nan, 618.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 423.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 679.0, 950.0, nan, nan, nan, 20.0, 1000.0, nan, 100.0, nan, nan, nan, 100.0, nan, nan, nan, nan, nan, 1101.0, nan, nan, 1000.0, nan, nan, nan, 100.0, nan, nan, nan, 50.0, nan, nan, nan, 95.0, nan, nan, 50.0, nan, nan, nan, nan, 300.0, nan, nan, 100.0, 60.0, nan, nan, nan, 200.0, nan, nan, nan, nan, 150.0, nan, nan, nan, 50.0, nan, nan, 180.0, nan, nan, nan, 200.0, nan, 120.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 6000.0, 10.0, nan, 70.0, nan, 12.06, nan, nan, 100.0, 10.0, nan, 20.0, nan, 10.0, nan, nan, 81.04, nan, 923.0, nan, 70.0, nan, 10.23, nan, nan, 150.0, 30.0, nan, 39.53, nan, nan, nan, nan, nan, nan, 200.0, nan, nan, 100.0, nan, 100.0, nan, nan, 100.0, nan, 50.0, nan, nan, nan, nan, nan, nan, 1200.0, nan, nan, nan, nan, nan, 300.0, nan, nan, nan, nan, nan, nan, 700.0, nan, nan, nan, nan, 400.0, nan, 1000.0, nan, nan, 150.0, 100.0, nan, nan, 100.0, 20.0, nan, 80.0, nan, 75.0, nan, 40.0, nan, 10.0, nan, 10.0, nan, 59.43, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 10.0, nan, 50.0, nan, 9.0, nan, 22.0, nan, nan, nan, nan, nan, 1200.0, 28.85, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 488.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 500.0, 60.0, nan, nan, 115.09, nan, nan, nan, nan, 146.0, 59.49, nan, nan, nan, nan, nan, nan, nan, 5012.0, 40.0, nan, 90.0, nan, 300.0, nan, 25.0, nan, 50.0, nan, 165.0, nan, 30.0, nan, nan, 50.0, 70.0, nan, 10.0, nan, nan, 164.04, nan, nan, 1000.0, 30.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1000.0, nan, nan, 50.0, 50.0, 1001.0, nan, 600.0, 30.0, nan, 290.0, nan, 10.0, nan, 10.0, nan, 8.0, nan, 60.0, nan, 30.0, nan, 10.0, nan, nan, 91.8, nan, 725.0, nan, 50.0, nan, nan, 42.87, nan, 1300.0, nan, nan, 27850.0, 325.0, nan, nan, 122.39, nan, nan, 1000.0, 90.0, nan, 14.0, nan, 5.29, nan, nan, nan, nan, 2000.0, 20.0, nan, 10.0, nan, nan, 300.0, 130.0, nan, 100.0, nan, 60.0, nan, 9.0, nan, 50.0, nan, 45.0, nan, nan, 215.89, nan, 3950.0, nan, 200.0, nan, 7.81, nan, nan, nan, 100.0, nan, 77.03, nan, nan, 5090.0, 10.0, nan, 20.0, nan, 20.0, nan, 31.21, nan, nan, nan, nan, 1000.0, nan, 485.35, nan, 1000.0, nan, 40.0, nan, 30.0, nan, 45.0, nan, 52.0, nan, 30.0, nan, 85.0, nan, 5.0, nan, 300.0, nan, 10.0, nan, 10.0, nan, 80.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1000.0, nan, 990.0, 70.0, nan, 15.0, nan, 20.0, nan, 10.0, nan, 10.0, nan, 42.0, nan, 60.0, nan, nan, 10.0, nan, 100.0, 35.0, nan, 120.0, nan, 70.0, nan, 49.66, nan, 500.0, nan, 10.0, nan, nan, nan, nan, nan, 600.0, 10.0, nan, 100.0, nan, 5.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 10.0, 1000.0, nan, 5.0, nan, nan, 491.64, nan, 208.0, nan, nan, nan, nan, nan, 260.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 5000.0, 20.0, nan, 10.0, nan, 10.0, nan, nan, 50.0, 50.0, nan, 50.0, nan, 20.0, nan, nan, 134.0, nan, 10.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 60.0, nan, 5.0, nan, 86.34, nan, nan, 2.0, 88.0, 900.0, nan, 100.0, nan, 70.0, nan, 60.0, nan, nan, 130.0, 40.0, nan, nan, 20.0, 60.0, nan, nan, 100.0, 20.0, nan, 19.0, nan, nan, 460.47, nan, nan, 4850.0, 60.0, nan, nan, 100.0, 50.0, nan, nan, 444.92, nan, 1000.0, nan, 60.0, nan, nan, 100.0, 10.0, nan, 20.0, nan, 60.0, nan, nan, 100.0, 10.0, nan, 5.0, nan, 70.0, nan, 90.0, nan, nan, 90.0, nan, 30.0, nan, 10.0, nan, 150.0, nan, nan, 219.57, nan, nan, 200.0, nan, 1000.0, 10.0, nan, 10.0, nan, 20.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 50.0, nan, 60.0, nan, 60.0, nan, 100.0, nan, 5.0, nan, nan, 1.0, 50.0, nan, 30.0, nan, 11.0, nan, nan, 19.85, 30.0, nan, 40.0, nan, nan, 124.0, nan, nan, 100.0, 70.0, nan, nan, 93.36, nan, nan, 1830.0, nan, 100.0, nan, nan, 100.0, 7.0, nan, nan, nan, nan, nan, nan, nan, nan]

In [88]:
real_data = working_data.copy()

In [90]:
real_data['Paid In'].fillna("Null")

0        Null
1        Null
2        Null
3        Null
4        Null
        ...
1131     Null
1132    454.0
1133     Null
1134     Null
1135     50.0
Name: Paid In, Length: 1136, dtype: object